body{
    background-image: url("https://source.unsplash.com/411x823/?rain,raining,rainy");
     
}
form{
    text-align: center;
    padding: 0.5%;
    box-sizing: border-box;
    
    
}

input{
     outline: none;
    margin: 0px 10px;
    border: solid aliceblue 1px;
    padding: 11px 49px;
    border: hidden 2px;
    border-radius: 17px;
    box-shadow: 1px 18px 80px  1px grey;
}
footer{
   
    position:absolute;
    box-shadow: 1px 18px 44px  5px grey;
    margin: auto;
    bottom: 0;
    color:white;
   font-weight: 500;
   font-size: larger;
}
button{
    border: hidden 2px;
   outline:none;
    border-radius: 50%;
    box-shadow: 1px 18px 90px  2px grey;
}

@media only screen and (max-width:1024px){
    .city,.country{
        margin: 10px auto ;
        display: block;
        width: 95%;
       
    }
    button{
        width: 80%;
    }
}

 
 
