div>p{
    font-family: 'Times' ,'New Roman'
    Georgia;
    font-size: 2pc;

}

#temp{
   
    font-size: 130px;
    box-sizing: content-box;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    border: hidden 2px;
    border-radius: 17px;
    box-shadow: 1px 18px 66px  8px grey;
}
 
img{
    margin: auto;
    width: fit-content;
    border: hidden 1px;
   
    border-radius: 17px;
    box-shadow: 1px 18px 66px  10px grey;
}
 
 