.App {
  text-align: center;
}
 
@media only screen and (max-width:680px){
  div>h1{
    font-size: 20px;
  }
}

h1{
  background-color:whitesmoke;
  padding: 20px ;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
}
